---
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
import NavToggle from "../components/NavToggle.astro";
import NavScrim from "../components/NavScrim.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/favicon-32x32.png" />
    <title>Front End Mentor - Room Homepage</title>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/global.css")}
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="font-medium">
    <NavScrim />
    <header
      class="z-30 absolute top-0 left-0 right-0 min-h-[6.875rem] md:min-h-[8.875rem] flex items-center overflow-hidden sm:px-16"
    >
      <div class="mx-auto sm:mx-0"><Logo /></div>
      <div class="z-40 absolute left-0 sm:hidden">
        <NavToggle />
      </div>
      <Nav />
    </header>

    <main>
      <!-- Hero/Slider Section -->

      <div>
        <!-- Placeholder -->
        <img src="images/desktop-image-hero-1.jpg" alt="" />
      </div>

      <!-- Intro Section -->
      <div>
        <h1>Discover innovative ways to decorate</h1>
        <p class="">
          We provide unmatched quality, comfort, and style for property owners
          across the country. Our experts combine form and function in bringing
          your vision to life. Create a room in your own style with our
          collection and make your property a reflection of you and what you
          love.
        </p>
        <a href="#">Shop Now</a>
      </div>

      <!-- About Section -->
      <img src="/images/image-about-dark.jpg" alt="" />
      <div>
        <h2>About Our Furniture</h2>
        <p>
          Our multifunctional collection blends design and function to suit your
          individual taste. Make each room unique, or pick a cohesive theme that
          best express your interests and what inspires you. Find the furniture
          pieces you need, from traditional to contemporary styles or anything
          in between. Product specialists are available to help you create your
          dream space.
        </p>
      </div>
      <img src="/images/image-about-light.jpg" alt="" />
    </main>
  </body>
</html>
