---
import NavLink from "./NavLink.astro";
---

<nav>
  <ul
    id="primary-nav"
    class="h-full text-xs font-semibold flex justify-end items-center space-x-8 sm:justify-start sm:text-white"
  >
    <NavLink>home</NavLink>
    <NavLink>about</NavLink>
    <NavLink>shop</NavLink>
    <NavLink>contact</NavLink>
  </ul>
</nav>

<style lang="scss">
  nav {
    @apply bg-white sm:bg-white/0 z-30 absolute inset-0 px-6 sm:static sm:px-14;

    transform: translateY(-100%);

    ul {
      opacity: 0;
      transform: translateX(100%);
    }

    &.menu-visible,
    :global(.no-js) & {
      transform: translateY(0%);

      ul {
        opacity: 1;
        transform: translateX(0);
      }
    }

    :global(.no-js) & {
      @apply bg-white/0 text-white top-20;

      ul {
        @apply justify-center flex-wrap;
      }
    }

    @media (min-width: 40em) {
      transform: none;

      ul {
        opacity: 1;
        transform: none;
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    nav {
      transition: transform 150ms ease-in-out;

      ul {
        transition: transform 150ms ease-in-out 150ms,
          opacity 150ms ease-in-out 200ms;
      }
    }
  }
</style>
